/* https://xd.adobe.com/spec/3bcaad42-bd8a-415e-6274-08b282cfb769-4dfb/ */

/* General */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  text-align: center;
  color: rgb(55,47,47);
}

h1,
h2 {
  margin: 0;
}

@media (min-width: 830px) {
  body {
    display: flex;
  }
}

/* Typography */

h1 {
  font-size: 2.25rem;
  font-weight: 400;
  color: white;
}

h2 {
  font-size: 1.2325rem;
  font-weight: 900;
}

.intro-subtitle,
.main-subtitle,
.text-top {
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(248,117,117);
}

.intro-subtitle {
  letter-spacing: 0.5px;
}

.main-title {
  color: rgb(55,47,47);
  letter-spacing: 0.5px;
}

.main-subtitle {

}

.text-top,
.main-caution {
  font-size: 0.625rem;
}

.text-top {
  margin-bottom: 0;
  letter-spacing: 1px;
}

input {
  text-align: center;
  font-style: inherit;
  font-size: inherit;
}

.btn {
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Layout */

.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 400px;
}

@media (min-width: 830px) {
  .intro,
  .main-content {
    width: 50vw;
    height: 100vh;
  }

  .container {
    max-width: 600px;
  }
}

/* intro */
.intro {
  background-image: url(../imgs/honk.jpg);
  background-color: rgb(55,47,47);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.container-intro {
  height: 100%;
}

.intro-title {
  margin: 2em 0;
}

.intro-subtitle {
  margin-bottom: 1.5em;

}

.text-top {
  margin-top: 0;
  width: fit-content;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(248,117,117), rgb(218,87,87)) 1;
  border-bottom: none;
  border-right: none;
  border-left: none;
  order: -1;
}

/* main-content */
.container-main {
  width: 70%;
}


.main-title {
  margin-top: 1.5em;
}

.main-subtitle {
  margin-top: 0;
  margin-bottom: 0.5em;
}

@media (min-width: 830px) {
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


/* form */

form {
  width: 70%;
  margin: 0 auto;
}

input,
.btn {
  border-radius: 5px;
}

input {
  outline: none;
  border: 1px solid rgb(55,47,47);
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em 0;
  transition: transform 300ms;
}

.btn {
  cursor: pointer;
  color: white;
  border: none;
  display: inline-block;
  width: 100%;
  padding: 1em 1.5em;
  background-image: linear-gradient(to right, rgb(248,117,117), rgb(218,87,87));
  transform: scale(1);
  transition: transform 300ms;
}

input:focus,
.btn:hover,
.btn:focus {
  transform: scale(1.05);
}